<div class="row">
    <h1>Aircraft</h1>

    <table>
      <tr>
        <th>Code</th>
        <th></th>
        <th></th>
      </tr>

    <% @aircrafts.each do |aircraft| %>
      <tr>
        <td><%= link_to aircraft.code, aircraft %></td>
        <td><%= link_to 'Edit', edit_aircraft_path(aircraft) %></td>
        <td><%= link_to 'Delete', aircraft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Aircraft', new_aircraft_path %>
</div>